<div class="container m-5">
    <div class="row">
        <div class="col-md-6">
            <div class="m-5">
                <div class="bg-info text-white p-2" *ngIf="selected">
                    Selected Product: {{ selectedProduct.name || '(None)'}}
                    <!--boş olan selectedproduct doldurulduğunda ürünün ismi div içine aktarılır-->
                </div>
                <table class="">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Img</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th style="width: 150px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let product of products"
                                (mouseover)="pName.value=product.name!"
                                (mouseleave)="pName.value='None'"
                                [class.bg-warning]="pName.value==product.name"> -->
                        <tr *ngFor="let product of products"
                        [class.bg-warning]="getSelected(product)">
                        <!--tek tırnak içerisinde repository metodları görürken çift tırnakta neden admin
                        product metodları görünüyor-->
                        <!--mouse üzerinden ayrıldığında değişkene none atanır-->
                            <!--mouseover- mouse üzerine geldiğinde boş olan selectedproduct a ürün ismi ataması
                            yapılır ^ yukarı bak-->
                            <td>{{product.id}}</td>
                            <td><img src="{{product.imageUrl}}" width="80"></td>
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td>
                                <button class="btn btn-danger btn-sm">Delete</button>
                                <button (click)="editProduct(product)" class="btn btn-primary btn-sm ml-2">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6" *ngIf="selected">
            <div class="form-group">
                <label>Product Name</label><!--input eventi her tuşta çalışır-->
                <input [(ngModel)]="selectedProduct.name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Product Price</label><!--input eventi her tuşta çalışır-->
                <input [(ngModel)]="selectedProduct.price" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Product Image Url</label><!--input eventi her tuşta çalışır-->
                <input [(ngModel)]="selectedProduct.imageUrl" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Product Description</label><!--input eventi her tuşta çalışır-->
                <textarea [(ngModel)]="selectedProduct.description" type="text" class="form-control"></textarea>
            </div>
            <button class="btn btn-primary" 
            (click)="saveChanges();">Save Changes</button>
        </div>
    </div>
</div>

<h2>-------------validators-------------</h2>
<!--
***Eposta Doğrulaması
^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$
***
***Sadece Harf Doğrulaması
^[a-zA-Z]+$
***
***Sadece Sayı Doğrulaması
^[0-9]+$
***
***Şifre (En Az Bir Büyük Harf, Bir Küçük Harf, Bir Rakam ve 8-16 Karakter Uzunluğunda)
^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,16}$
***
***Geçerli Url
^(https?|ftp):\/\/[^\s/$.?#].[^\s]*$
***
***Posta Kodu
^[0-9]{5}$
***
***Tarih Doğrulaması
^\d{4}-\d{2}-\d{2}$

-->
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="m-3">
                <form #form="ngForm" (ngSubmit)="SubmitForm(form)"><!--ngSubmit ile form submit edilir-->
                    <div class="bg-danger text-white p-3 my-2" *ngIf="formSubmited && form.invalid">
                        Bir Hata Oluştu bilgilerinizi kontrol ediniz
                        <ul class="alert alert-danger" *ngIf="(formSubmited ||description.dirty) && !description.valid">
                            <!--form gönderildiyse yada descriptiona girilip geri çıkıldıysa ve valid olmadıysa
                            errorları göster-->
                            <li *ngFor="let error of getValidationErrors(description,'description')">
                                <!--hata listesi getirir-->
                                {{error}}
                            </li>
                        </ul>
                    </div>
                    <div class="bg-info text-white m-2 p-2">
                        {{jsonProduct}}
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input required minlength="3" maxlength="10" pattern="^[a-zA-Z]+$" [(ngModel)]="newProduct.name" 
                        #name="ngModel" type="text" name="pName" class="form-control">
                        <!-- name alanı required olduğundan dolayı form-valid.css dosyasına inputla alakalı cssler
                        yazdık. kullanıcı inputa giriş yapıp bir veri girmeden çıkarsa inputun solunda border yanar-->
                        
                        <ul class="alert alert-danger" *ngIf="(formSubmited ||name.dirty) && !name.valid">
                            <!--form gönderildiyse yada descriptiona girilip geri çıkıldıysa ve valid olmadıysa
                            errorları göster-->
                            <li *ngFor="let error of getValidationErrors(name)">
                                <!--hata listesi getirir-->
                                {{error}}
                            </li>
                        </ul>
                            <!-- inputa giriş yapıp bir veri girmeden çıkılırsa altında
                                    alert yanar ve uyarı verir
                                    *** inputta başında diez işareti bulunan kod template değişkenidir
                                    *ngif ile kontrol edilen kod ise template değişkenidir-->
                        
                    </div>
                    <div class="form-group">
                        <label>description</label>
                        <textarea required minlength="10" maxlength="500" pattern="^[a-zA-Z]+$" [(ngModel)]="newProduct.description"
                        #description="ngModel" name="Description" type="text"
                        class="form-control" (change)="log(description)"></textarea>
                    </div>
                    <ul class="alert alert-danger" *ngIf="(formSubmited ||description.dirty) && !description.valid">
                        <!--form gönderildiyse yada descriptiona girilip geri çıkıldıysa ve valid olmadıysa
                        errorları göster-->
                        <li *ngFor="let error of getValidationErrors(description)">
                            <!--hata listesi getirir-->
                            {{error}}
                        </li>
                    </ul>
                    <!--getValidationErrors fonksiyonuna gönderdiğimiz description ngModel içerisinden gelmekte
                    ve biz bu ngModelin içerisindeki bütün parametrelere ulaşabilmekteyiz -->
                
                    <!-- inputa giriş yapıp bir veri girmeden çıkılırsa altında alert yanar ve uyarı verir
                        *** textareada başında diez işareti bulunan kod template değişkenidir
                        *ngif ile kontrol edilen kod ise template değişkenidir-->
                    <div class="form-group">
                        <label>image Url</label>
                        <input required [(ngModel)]="newProduct.imageUrl" name="pImageUrl" #imageUrl="ngModel" type="text" class="form-control">
                    </div>
                    <ul class="alert alert-danger" *ngIf="(formSubmited ||imageUrl.dirty) && !imageUrl.valid">
                        <!--form gönderildiyse yada descriptiona girilip geri çıkıldıysa ve valid olmadıysa
                        errorları göster-->
                        <li *ngFor="let error of getValidationErrors(imageUrl)">
                            <!--hata listesi getirir-->
                            {{error}}
                        </li>
                    </ul>
                    <div class="form-group">
                        <label>price</label>
                        <input required [(ngModel)]="newProduct.price" #price="ngModel" name="pPrice" type="text" class="form-control">
                    </div>
                    <ul class="alert alert-danger" *ngIf="(formSubmited ||price.dirty) && !price.valid">
                        <!--form gönderildiyse yada descriptiona girilip geri çıkıldıysa ve valid olmadıysa
                        errorları göster-->
                        <li *ngFor="let error of getValidationErrors(price)">
                            <!--hata listesi getirir-->
                            {{error}}
                        </li>
                    </ul>
                    <button 
                    type="submit"
                     class="btn btn-primary" [disabled]="formSubmited && form.invalid"
                     [class.btn-secondary]="formSubmited && form.invalid">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<h2>------------Reactive Forms (Validators with TS) ---------------</h2>
<div class="container">
    <form [formGroup]="ders69_productForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="ders68_name">
            <div class="alert alert-danger" *ngIf="ders70_name!.touched && ders70_name!.invalid">
                <ul>
                    <li *ngIf="ders69_productForm.get('ders68_name')!.errors?.['required']">Name is required.</li>
                    <li *ngIf="ders69_productForm.get('ders68_name')!.errors?.['minlength']">Min. {{ders69_productForm.get('ders68_name')!.errors?.['minlength'].requiredLength}} characters</li>
                    <li *ngIf="ders69_productForm.get('ders68_name')!.errors?.['maxlength']">Max. {{ders69_productForm.get('ders68_name')!.errors?.['maxlength'].requiredLength}} characters</li>
                </ul>
            </div>
            
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" formControlName="ders68_description">
            
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" formControlName="ders68_price">
        </div>
        <div class="form-group">
            <label>İmage Url</label>
            <input type="text" class="form-control" formControlName="ders68_imageUrl">
            <div class="alert alert-danger" *ngIf="ders72_Image!.touched && ders72_Image!.invalid">
                <ul>
                    <li *ngIf="ders72_Image!.errors?.['required']">Name is required.</li>
                    <li *ngIf="ders72_Image!.errors?.['wrongExtension']">Wrong Extension</li>
                    <!--imagevalidators.ts'den true dönen wrongExtension buradaki hatayı fırlatır-->
                </ul>
            </div>
        </div>
        <br>
        <button type="submit" (click)="updateProduct()" class="btn btn-primary">Submit</button>
    </form>
</div>